@charset "utf-8";
@font-face {
         font-family:'gotham_bold';
    src:url('../fonts/GothamBold.eot');
   src:url('../fonts/GothamBold.woff')format('woff'); src:url('../fonts/GothamBold.ttf') format('truetype');
src:url('../fonts/GothamBold.svg') format('svg');
}

@font-face{
 font-family:'trajan';
 src:url('../fonts/Trajan.eot');
src:url('../fonts/Trajan.woff')format('woff'); src:url('../fonts/Trajan.ttf') format('truetype'); 
    
}
@font-face{
 font-family:'trajan_bold';
 src:url('../fonts/TrajanBold.eot');
src:url('../fonts/TrajanBold.woff')format('woff'); src:url('../fonts/TrajanBold.ttf') format('truetype'); 
    
}

*{margin:0; padding:0;}


a{text-decoration:none; color:#e3edf0;}
img{border:0; vertical-align: top;}
li{color:#e3edf0; list-style:none;}
hr{display:block; border:1px solid #8dc63f;}

body{background-color:#000000;color:#e3edf0;
    width:100%;
max-width:480px;
min-width:320px;
font-family:'georgia','verdana','tahoma','arial';

 background-image:url(../images/mob/salt_bg.jpg);
 background-repeat:no-repeat;
 background-position: 100% 500px;
}

#wrap{
 
 width:90%;
 margin:0 auto;
 overflow:hidden;

}

#wrap header{
 
 width:100%;
 height:178px;
 box-sizing: border-box;
 overflow:hidden;
}


#wrap header h1{
 text-indent:-5000px;
 
}

#wrap header h1 a{
 height:60px;
 width:66px;
 margin:0 auto;
 background-image:url(../images/mob/header_logo_03.png);
  display:block;
 background-repeat:no-repeat;
 background-position: center 20px;
 
}

#wrap header h2{
 height:118px;
 width:100%;
 text-align:center;
font-family:'gotham_bold';
 text-transform: uppercase;
 font-size:24px;
}

#wrap header h2 span{
 margin:0 auto;
 display:block;
 width:40px; height:40px;
 background-image:url(../images/mob/menu_sprite.png);
 background-position:-5px -50px;
 background-size:400%;
}



#video{display:none;}





#wrap .drink{
 width:100%;
 margin:150px auto;
height:500px;
 overflow:hidden;
 
}

#wrap .drink h1{
 font-family:'trajan';
 text-align:center;
 font-size:24px;
 font-weight:bold;
 text-transform: uppercase;
 width:100%;
 display:block;
 clear:both;
 margin-bottom:140px;
}
#wrap .drink span.recipe{
 width:10%;
 margin-top:250px;
 min-width:60px; height:60px;
 display:block;
 background-image:url(../images/mob/recipe_button.jpg); 
 background-repeat:no-repeat;
 background-position:center;
 float:left;
 cursor: pointer;
}

#wrap .drink .image{
 width:50%;

 float:left;
}
#wrap .drink .image img{
margin:0 auto;
 display:block;
}


#wrap .drink .drinkInfo{
 text-align:left;

 width:28%;float:right;
 position:relative;
 
}

#wrap .drink .drinkInfo .italic{
font-style:italic;
 font-size:13px;
  line-height:20px;
}
#wrap .drink .drinkInfo li{
 margin-bottom:10px;
 font-size:15px;
 line-height:20px;
}
#wrap #last .image{
 height:700px;
}
#wrap #last .image > img{
 margin-left:50px;
}



#wrap .popup{
 clear:both;

 width:100%;
 height:500px;
 position:absolute; top:0; left:0;

 
 padding:20px;
 box-sizing:border-box;
 overflow:hidden;
}


#wrap .popup .boxleft{
 width:60%;
 height:100%;
 background-color:rgba(0,0,0,0.8);
 float:left;
}
#wrap .popup h3{
 font-family: 'trajan';
 text-transform:uppercase;
 color:#8dc63f;
 line-height:30px;
margin-bottom:10px;
}

#wrap .popup table {
 border:0;
 font-size:14px;
 line-height:20px;
 margin-bottom:10px;


}
#wrap .popup table td:last-child{
text-indent:20px;
}

#wrap .popup ol li{

 list-style:decimal;
 font-size:14px;
 margin-left:20px;
 line-height:20px;
}

#wrap .cock1{
 top:350px; left:0px;

}


#wrap .popup p.back{
 float:right;
 color:#8dc63f;
 font-family:'gotham_bold';
 font-weight:bold;
font-size:20px;
 display:block;
 width:30%; height:100%;
padding-top:400px;

 box-sizing: border-box;
 text-align:left;
 background-color:rgba(0,0,0,0.3); 

     cursor: pointer;
}

#wrap .cock2{
 top:1000px; left:0px;

}

#wrap .cock3{
 height:530px;
 top:1650px; left:0px;

}
#wrap .cock3 .boxleft{
 width:71%;
    
}

#wrap .cock3 .boxleft table td:first-child{
 width:20%;

}


#wrap .cock3 p.back{
 width:29%;
    height:530px;
 height:100%;
padding-top:450px;
    margin-top:20px;
 text-indent:10px;
 overflow:hidden;

}

#wrap .cock4{
 
 top:2300px;left:0px;


 
}


.moveleft{
 left:0;
}


#wrap #gif{
 width:81%;
 margin:0 auto;
 height:800px;
  margin-top:250px;
    overflow:hidden;
}



#wrap #gif h4{
 text-align:center;
 font-family:'trajan';
 font-weight:bold;
 font-size:20px;
 line-height:30px;

 margin-bottom:50px;
}

#wrap #gif h5{
 background-image:url(../images/mob/green_logo1.jpg);
 width:100%;
    
 height:200px;
 background-repeat:no-repeat;
 text-indent:-5000px;
 background-position:center;
}



#menu {
    width:100%;
position:fixed;
    bottom:00; left:00;
    background-color:rgba(0,0,0,0.70);
    height:100px;
}

#menu ul li{
    float:left;
    width:25%;
 
}

#menu ul li:nth-of-type(1){}
#menu ul li a{
    display:block;
    text-align:center;
    width:100%;
    height:90px;
font-family:'gotham_bold';
 font-weight:bold;
    box-sizing:border-box;
 font-size:16px;
}

#menu ul li a span{
    display:block;
    width:100%;
    height:48px;
    padding-bottom:25px;
background-repeat:no-repeat;
}

#menu ul li:nth-of-type(1)
a span{
    background-image:url(../images/mob/mob_menu_1.png);
    background-position:center;

}
#menu ul li:nth-of-type(2)
a span{
    background-image:url(../images/mob/mob_menu_5.png);
    background-position:center;
}
#menu ul li:nth-of-type(3)
a span{
    background-image:url(../images/mob/mob_menu_2.png);
    background-position:center;

}
#menu ul li:nth-of-type(4)
a span{
    background-image:url(../images/mob/mob_menu_4.png);
    background-position:center;
}


#menu2{display:none;}
#menu3{display:none;}

/**********800px****************************************************************************************************************************************************************************************************************************/
@media all and (min-width:800px){
    body{background-color:#000000; color:#e3edf0;
    width:100%;
max-width:800px;
min-width:481px;
font-family:'georgia','verdana','tahoma','arial';

 background-image:url(../images/mob/salt_bg.jpg);
 background-repeat:no-repeat;
 background-position: 100% 500px;
}

#wrap{
 
 width:95%;
 margin:0 auto;
 overflow:hidden;

}

#wrap header{
 
 width:100%;
 height:178px;
 box-sizing: border-box;
 overflow:hidden;
}


#wrap header h1{
 text-indent:-5000px;
 
}

#wrap header h1 a{
 height:60px;
 width:66px;
 margin:0 auto;
 background-image:url(../images/mob/header_logo_03.png);
  display:block;
 background-repeat:no-repeat;
 background-position: center 20px;
 
}

#wrap header h2{
 height:118px;
 width:100%;
 text-align:center;
font-family:'gotham_bold';
 text-transform: uppercase;
 font-size:24px;
}

#wrap header h2 span{
 margin:0 auto;
 display:block;
 width:40px; height:40px;
 background-image:url(../images/mob/menu_sprite.png);
 background-position:-5px -50px;
 background-size:400%;
}

#wrap .drink{
 width:100%;
 margin:150px auto;
height:500px;
 overflow:hidden;
 box-sizing: border-box;
}

#wrap .drink h1{
 font-family:'trajan';
 text-align:center;
 font-size:24px;
 font-weight:bold;
 text-transform: uppercase;
 width:100%;
 display:block;
 clear:both;
 margin-bottom:140px;
}
#wrap .drink span.recipe{
 width:10%;
 margin-top:220px;
    margin-left:100px;
 min-width:60px; height:60px;
 display:block;
 background-image:url(../images/mob/recipe_button.jpg); 
 background-repeat:no-repeat;
 background-position:center;
 float:left;
    background-size:contain;
 
}

#wrap .drink .image{
 width:30%;

 float:left;
}
#wrap .drink .image img{
margin:0 auto;
 display:block;
}


#wrap .drink .drinkInfo{
 text-align:left;

 width:28%;float:right;
 position:relative;
 left:-90px;
}

#wrap .drink .drinkInfo .italic{
font-style:italic;
 font-size:13px;
  line-height:20px;
}
#wrap .drink .drinkInfo li{
 margin-bottom:10px;
 font-size:15px;
 line-height:20px;
}
#wrap #last .image{
 height:700px;
}
#wrap #last .image > img{
 margin-left:50px;
}



#wrap .popup{
 clear:both;

 width:80%;
 height:500px;
 position:absolute; top:0; left:0;

 margin-left:100px;
     margin-top:100px;
 padding:20px;
 box-sizing:border-box;
 overflow:hidden;
}


#wrap .popup .boxleft{
 width:60%;
 height:100%;
 background-color:rgba(0,0,0,0.8);
 float:left;
}
#wrap .popup h3{
 font-family: 'trajan';
 text-transform:uppercase;
 color:#8dc63f;
 line-height:30px;
margin-bottom:10px;
}

#wrap .popup table {
 border:0;
 font-size:14px;
 line-height:20px;
 margin-bottom:10px;


}
#wrap .popup table td:last-child{
text-indent:20px;
}

#wrap .popup ol li{

 list-style:decimal;
 font-size:14px;
 margin-left:20px;
 line-height:20px;
}

#wrap .cock1{
 top:350px; left:0px;

}


#wrap .popup p.back{
 float:right;
 color:#8dc63f;
 font-family:'gotham_bold';
 font-weight:bold;
font-size:20px;
 display:block;
 width:30%; height:100%;
padding-top:400px;

 box-sizing: border-box;
 text-align:left;
 background-color:rgba(0,0,0,0.3); 


}

#wrap .cock2{
 top:1000px; left:0px;

}

#wrap .cock3{
 height:530px;
 top:1650px; left:0px;

}
#wrap .cock3 .boxleft{
 width:71%;
    
}

#wrap .cock3 .boxleft table td:first-child{
 width:20%;

}


#wrap .cock3 p.back{
 width:29%;
    height:530px;
 height:100%;
padding-top:450px;
    margin-top:20px;
 text-indent:10px;
 overflow:hidden;
}

#wrap .cock4{
 
 top:2300px;left:0px;


 
}


.moveleft{
 left:0;
}


#wrap #gif{
 width:81%;
 margin:0 auto;
 height:800px;
  margin-top:250px;
    overflow:hidden;
}



#wrap #gif h4{
 text-align:center;
 font-family:'trajan';
 font-weight:bold;
 font-size:20px;
 line-height:30px;

 margin-bottom:50px;
}

#wrap #gif h5{
 background-image:url(../images/mob/green_logo1.jpg);
 width:100%;
    
 height:200px;
 background-repeat:no-repeat;
 text-indent:-5000px;
 background-position:center;
}



#menu {
    width:100%;
position:fixed;
    bottom:00; left:00;
    background-color:rgba(0,0,0,0.70);
    height:100px;
}

#menu ul li{
    float:left;
    width:25%;
 
}

#menu ul li:nth-of-type(1){}
#menu ul li a{
    display:block;
    text-align:center;
    width:100%;
    height:90px;
font-family:'gotham_bold';
 font-weight:bold;
    box-sizing:border-box;
 font-size:16px;
}

#menu ul li a span{
    display:block;
    width:100%;
    height:48px;
    padding-bottom:25px;
background-repeat:no-repeat;
}

#menu ul li:nth-of-type(1)
a span{
    background-image:url(../images/mob/mob_menu_1.png);
    background-position:center;

}
#menu ul li:nth-of-type(2)
a span{
    background-image:url(../images/mob/mob_menu_5.png);
    background-position:center;
}
#menu ul li:nth-of-type(3)
a span{
    background-image:url(../images/mob/mob_menu_2.png);
    background-position:center;

}
#menu ul li:nth-of-type(4)
a span{
    background-image:url(../images/mob/mob_menu_4.png);
    background-position:center;
}  
    
}

/**********160000px****************************************************************************************************************************************************************************************************************************/
@media all and (min-width:900px){
    body{background-color:#000000; color:#e3edf0;
    width:100%;
max-width:2000px;
min-width:900px;
font-family:'georgia','verdana','tahoma','arial';

 background-image:url(../images/mob/salt_bg.jpg),url(../images/pc/agavebg.jpg),url(../images/pc/limebg.jpg),url(../images/pc/agavebg.jpg);
 background-repeat:no-repeat;
 background-position: 100% 1000px, 0% 2500px , 100% 3600px, 0% 4500px;
}

#wrap{
 
 width:80%;
    height:5000px;
    box-shadow: 0px 0px 50px 30px rgba(210, 218, 223, 0.23);
-moz-box-shadow: 0px 0px 50px 30px rgba(210, 218, 223, 0.23);
-webkit-box-shadow: 0px 0px 50px 30px rgba(210, 218, 223, 0.23);
 margin:0 auto;
 overflow:hidden;
position:relative;
    z-index:10;
    background-color:#000000;
}

#wrap header{
 
 width:100%;
    height:700px;
 box-sizing: border-box;
 overflow:hidden;
}

#wrap header h1 {
      display:none;
}
#wrap header h2 {
      display:none;
}
 
#video{display:block;
 width:83%;
    height:700px;
    max-width:2000px;
 margin:0 auto;
 position:relative;
    overflow:hidden;
 }
 
 #video:after{content:'';
 display:block;
 background-image:url(../images/pc/videobanner1_02.png);
 width:100%;
  height:100%;
  position:absolute; top:00; left:00;
  background-position:center;
  background-repeat:no-repeat;
 
 }
    
#menu {
display:none;
}
#menu2, #menu3{display:block;}


    #menu3{
        width:100px; height:100px;
        display:block;
        position:fixed;
        right:10%; top:540px;
     z-index:1000;
    }
 
 #menu3 img{
  width:100px; 
 
 }
 
    #menu2{
        width:100%;
        height:150px;
        margin:0 auto;
    }
    #menu2 ul{
        width:100%;
        margin:30px auto 0;
        height:100%;
        
    }
    #menu2 ul li{
        float:left;
        width:20%;
        margin-right:4%;
        height:100%;
        
    } 
    #menu2 ul li:nth-of-type(1){
        margin-left:4%;
    }
   
    #menu2 ul li a{
        display:block;
        text-align:center;
        
        font-family:'gotham_bold';
        font-weight:bold;
        font-size:18px;
        
        
    }
    #menu2 ul li span{
             display:block;
         width:100%;
         height:90px;
        background-position:center;
         background-size:contain;
         background-repeat:no-repeat; 
    }
    
     #menu2 ul li:nth-of-type(1) a span{
  
         background-image:url(../images/pc/non_selected_1.jpg);

         
    }
         #menu2 ul li:nth-of-type(2) a span{
  
         background-image:url(../images/pc/non_selected_2.jpg);
           

         
    }
             #menu2 ul li:nth-of-type(3) a span{
  
         background-image:url(../images/pc/selected_menu_3.jpg);

         
    }
             #menu2 ul li:nth-of-type(4) a span{
  
         background-image:url(../images/pc/non_selected_4.jpg);

         
    }
    
    #menu2 ul li:nth-of-type(1) a:hover span{
        background-image:url(../images/pc/hover_menu_1.jpg);
    }
        #menu2 ul li:nth-of-type(2) a:hover span{
        background-image:url(../images/pc/hover_menu_2.jpg);
    }
    
        #menu2 ul li:nth-of-type(3) a:hover span{
        background-image:url(../images/pc/hover_menu_3.jpg);
    }
    
        #menu2 ul li:nth-of-type(4) a:hover span{
        background-image:url(../images/pc/hover_menu_4.jpg);
    }

  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
#wrap .drink{
 width:50%;
 margin:150px 5%;
height:500px;
 overflow:hidden;
 box-sizing: border-box;
}

#wrap .drink h1{
 font-family:'trajan';
 text-align:left;
 font-size:24px;
 font-weight:bold;
 text-transform: uppercase;
 width:100%;
 display:block;
 clear:both;
 margin-bottom:140px;
}
#wrap .drink span.recipe{
 width:10%;
 margin-top:220px;
    margin-left:100px;
 min-width:60px; height:60px;
 display:block;
 background-image:url(../images/mob/recipe_button.jpg); 
 background-repeat:no-repeat;
 background-position:center;
 float:left;
    background-size:contain;
 
}

#wrap .drink .image{
 width:40%;
    height:autp;

 float:left;
}
#wrap .drink .image img{
margin:0 auto;
 display:block;
    height:100%;
    background-color:red;
}


#wrap .drink .drinkInfo{
 text-align:right;

 width:25%;float:right;
 position:relative;
 left:-50px;
}

#wrap .drink .drinkInfo .italic{
font-style:italic;
 font-size:18px;
  line-height:30px;
}
#wrap .drink .drinkInfo li{
 margin-bottom:10px;
 font-size:20px;
 line-height:30px;
}
#wrap #last .image{
 height:700px;
    
}
    #wrap #first .image{
margin-top:100px;
        width:45%;
}
#wrap #last .image > img{
 margin-left:80px;
    height:45%;
}



#wrap .popup{
 clear:both;

 width:45%;
 height:500px;
 position:absolute; top:0; right:0;

 margin-left:55%;
     margin-top:800px;
 padding:20px;
 box-sizing:border-box;
 overflow:hidden;
}


#wrap .popup .boxleft{
 width:60%;
 height:100%;
 background-color:rgba(0,0,0,0.8);
 float:left;
    
}
#wrap .popup h3{
 font-family: 'trajan';
 text-transform:uppercase;
 color:#8dc63f;
 line-height:30px;
margin-bottom:10px;
}

#wrap .popup table {
 border:0;
 font-size:14px;
 line-height:20px;
 margin-bottom:10px;


}
#wrap .popup table td:last-child{
text-indent:20px;
}

#wrap .popup ol li{

 list-style:decimal;
 font-size:14px;
 margin-left:20px;
 line-height:20px;
}

#wrap .cock1{
 top:350px; left:0px;

}


#wrap .popup p.back{
 float:right;
 color:#8dc63f;
 font-family:'gotham_bold';
 font-weight:bold;
font-size:20px;
 display:block;
 width:30%; height:100%;
padding-top:400px;

 box-sizing: border-box;
 text-align:left;
 background-color:rgba(0,0,0,0.3); 


}

#wrap .cock2{
 top:1000px; left:0px;

}

#wrap .cock3{
 height:530px;
 top:1650px; left:0px;

}
#wrap .cock3 .boxleft{
 width:71%;
    
}

#wrap .cock3 .boxleft table td:first-child{
 width:20%;

}


#wrap .cock3 p.back{
 width:29%;
    height:530px;
 height:100%;
padding-top:450px;
    margin-top:20px;
 text-indent:10px;
 overflow:hidden;
}

#wrap .cock4{
 
 top:2300px;left:0px;


 
}


.moveleft{
 left:0;
}


#wrap #gif{
 width:35%;
 margin:0 auto;
 height:1000px;
  margin-top:250px;
    overflow:hidden;
}



#wrap #gif h4{
 text-align:center;
 font-family:'trajan';
 font-weight:bold;
 font-size:20px;
 line-height:30px;

 margin-bottom:150px;
}

    
    #wrap #gif iframe{
        width:550px;
        height:550px;
    }
#wrap #gif h5{
 background-image:url(../images/mob/green_logo1.jpg);
 width:100%;
    
 height:300px;
 background-repeat:no-repeat;
 text-indent:-5000px;
 background-position:center;
}



#menu {
    width:100%;
position:fixed;
    bottom:00; left:00;
    background-color:rgba(0,0,0,0.70);
    height:100px;
}

#menu ul li{
    float:left;
    width:25%;
 
}

#menu ul li:nth-of-type(1){}
#menu ul li a{
    display:block;
    text-align:center;
    width:100%;
    height:90px;
font-family:'gotham_bold';
 font-weight:bold;
    box-sizing:border-box;
 font-size:16px;
}

#menu ul li a span{
    display:block;
    width:100%;
    height:48px;
    padding-bottom:25px;
background-repeat:no-repeat;
}

#menu ul li:nth-of-type(1)
a span{
    background-image:url(../images/mob/mob_menu_1.png);
    background-position:center;

}
#menu ul li:nth-of-type(2)
a span{
    background-image:url(../images/mob/mob_menu_5.png);
    background-position:center;
}
#menu ul li:nth-of-type(3)
a span{
    background-image:url(../images/mob/mob_menu_2.png);
    background-position:center;

}
#menu ul li:nth-of-type(4)
a span{
    background-image:url(../images/mob/mob_menu_4.png);
    background-position:center;
}  
    
}











